.button {
  position: relative;
  display: inline-block;
  font-weight: 500;
  // font-size: 20px;
  font-size: calc(14px + 6 * (100vw / 1920));
  padding: 15px 71px 14px 72px;
  border-radius: 28px;
  background-color: transparent;
  border: 2px solid $primary;
  color: $primary;
  transition: all 0.3s;

  &:hover {
    color: $light;
    background-color: $primary;
  }

  &--hidden {
    display: none;
    
  }
}

//   &--primary
//     display: inline-block
//     margin: auto
//     margin-top: 2.5rem
//     margin-bottom: 1rem
//     background-color: $primary
//     color: $light
// .input-group
//   position: relative
// div.invalid
//   color: tomato
//   position: absolute
//   bottom: -17px 
//   left: 20px
// input
//   &.invalid
//     border: 2px solid tomato