*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: calc(14px + 6 * (100vw / 1920));
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.section {
  text-align: center;
  padding: 110px 0;
  &__title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 46px;
    color: $black;
  }
}


/* Слайдер */
.slider {
  position: relative;
  background-color: $dark;
  &__item {
    transition: all 0.3s ease 0s;
    opacity: 0.2;
    position: relative;
  }
}
.slider__item.slick-center {
  opacity: 1;
}
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slider .slick-arrow{
  position: absolute;
  display: block;
  background-color: red;
  top: 50%;
  margin: -14px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 15px;
  height: 28px;
  border: 0;
}
/* Стрелка влево */
.slider .slick-arrow.slick-prev{
  left: 0;
  background: url('../img/arrow-left.png') 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next{
  right: 0;
  background: url('../img/arrow_right.png') 0 0 / 100% no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

// .mapa
//   filter: grayscale(50%)

// .slider
//   &__img
//     max-height: 80px
//   &__range
//     width: 100%
//     position: relative
//     appearance: none
//     height: 5px
//     background-color: #99999970
//     margin-top: 3rem
//   &__range::-webkit-slider-thumb
//     appearance: none
//     display: flex
//     background-color: $primary
//     width: 32px
//     height: 11px
//     border-radius: 10px
//     cursor: pointer
//   &__link
//     display: inline-block

// .slick
//   &-list
//     overflow: hidden
//   &-track
//     display: flex
//     justify-content: center
//     align-items: flex-end

// .hide
//   display: none