*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: calc(14px + 6 * (100vw / 1920));
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.section {
  text-align: center;
  padding: 110px 0;
  &__title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 46px;
    color: $black;
  }
}

// .mapa
//   filter: grayscale(50%)

// .section
//   padding: 50px 0
//   &--bg
//     background-color: $bg-section
//   &__title 
//     font-size: 2.571rem
//     font-weight: 300
//     line-height: 2.714rem
//     text-align: center
//     margin: 0
//     margin-bottom: 2.428rem
//     color: $dark
//     &:after
//       display: block
//       content: ''
//       width: 26.5rem
//       height: 1px
//       border-bottom: 1px solid $primary
//       margin: auto
//       margin-top: 1.5rem

// .slider
//   &__img
//     max-height: 80px
//   &__range
//     width: 100%
//     position: relative
//     appearance: none
//     height: 5px
//     background-color: #99999970
//     margin-top: 3rem
//   &__range::-webkit-slider-thumb
//     appearance: none
//     display: flex
//     background-color: $primary
//     width: 32px
//     height: 11px
//     border-radius: 10px
//     cursor: pointer
//   &__link
//     display: inline-block

// .slick
//   &-list
//     overflow: hidden
//   &-track
//     display: flex
//     justify-content: center
//     align-items: flex-end

// .hide
//   display: none