.statistics {
	background: $dark;
	&__title {
		font-size: calc(18px + 26 * (100vw / 1920));
		// font-size: 40px;
		line-height: 46px;
		font-weight: 700;
		text-transform: uppercase;
		color: $primary;
		margin-bottom: 15px;
	}

	&__subtitle {
		// font-size: 20px;
		font-size: calc(14px + 6 * (100vw / 1920));
		line-height: 46px;
		color: $light;
	}
}